:root {
  --primary: #ff005d;
  --primary-darker: #e10355;
}

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.todo {
  padding: 8px;
  margin: 0 auto;
  max-width: 600px;
  height: 80vh;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #333;
  overflow: auto;
}

.todo-title input {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  text-overflow: ellipsis;
}

.todo-title input:focus-visible {
  outline: none;
}

.todo-list {
  margin: 10px 5px;
}

.todo-list li {
  padding: 10px 0;
}

.btn {
  border: 1px solid;
  border-radius: 4px;
  padding: .6rem 1rem;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
}

.btn.btn-primary {
  border-color: transparent;
  background-color: var(--primary);
  color: #fff;
}

.btn.btn-primary:hover {
  background-color: var(--primary-darker);
}

.btn.btn-block {
  width: 100%;
}

.text-center {
  text-align: center;
}

hr {
  border-color: #111;
}

.text-muted {
  color: #aaa;
}

.todo-list-item {
  display: flex;
  border-bottom: 1px solid #111;
}

.todo-list-item .todo-list-item-clickable {
  display: flex;
  align-items: baseline;
  flex: 1;
}

.todo-list-item .todo-list-item-clickable .todo-list-item-text {
  margin: 0 10px;
}

.todo-list-item .todo-list-item-text {
  word-wrap: break-word;
}

.todo-list-item .todo-list-item-delete {
  cursor: pointer;
  color: #666;
}

/* .todo-list-item .todo-list-item-delete svg {
  color: red;
} */

.todo-list-item .todo-list-item-delete:hover {
  color: #ff005d;
}